<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<p>
  <strong>Aircontype:</strong>
  <%= @house.airconType %>
</p>

<p>
  <strong>Homesqft:</strong>
  <%= @house.homeSqFt %>
</p>

<p>
  <strong>Basementsqft:</strong>
  <%= @house.basementSqFt %>
</p>

<p>
  <strong>Bathroomcount:</strong>
  <%= @house.bathroomCount %>
</p>

<p>
  <strong>Bedroomcount:</strong>
  <%= @house.bedroomCount %>
</p>

<p>
  <strong>Buildingqualitytype:</strong>
  <%= @house.buildingQualityType %>
</p>

<p>
  <strong>Buildingclass:</strong>
  <%= @house.buildingClass %>
</p>

<p>
  <strong>Fireplace:</strong>
  <%= @house.fireplace %>
</p>

<p>
  <strong>Garagecarcount:</strong>
  <%= @house.garageCarCount %>
</p>

<p>
  <strong>Garagesqft:</strong>
  <%= @house.garageSqFt %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @house.zipcode %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @house.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @house.longitude %>
</p>

<p>
  <strong>Poolcount:</strong>
  <%= @house.poolCount %>
</p>

<p>
  <strong>Poolsize:</strong>
  <%= @house.poolSize %>
</p>

<p>
  <strong>City:</strong>
  <%= @house.city %>
</p>

<p>
  <strong>County:</strong>
  <%= @house.county %>
</p>

<p>
  <strong>State:</strong>
  <%= @house.state %>
</p>

<p>
  <strong>Yearbuilt:</strong>
  <%= @house.yearBuilt %>
</p>

<p>
  <strong>Roomcount:</strong>
  <%= @house.roomCount %>
</p>

<p>
  <strong>Lastsellprice:</strong>
  <%= @house.lastSellPrice %>
</p>

<p>
  <strong>User:</strong>
  <%= @house.user_id %>
</p>

<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
